@media screen and (max-width:576px){
    .navbar, .nav-container, .nav-items-container, .banner-input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 20px;
} 

}