/* shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Merriweather:ital,wght@1,700&family=Open+Sans:wght@800&family=Poppins:wght@100;400;500;600&family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');

body{
   font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: auto;
}
header{
    max-width: 1600pxpx;
}

/* Nav styles */
.navbar{
/* max-width: 1250px; */
/* border: 2px solid blue; */
margin: 0 auto;
display: flex;
}
.nav-container{
    min-height: 20px;
    display: flex;
gap: 20px;
align-items: center;
/* width: 50%; */
}
.nav-container img{
    width: 90px;
    object-fit: cover;
}
.nav-items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
}
.nav-items-container a{
    text-decoration: none;
font-size: 1rem;
color: black;
font-weight: 400;
margin-right: 2rem;
}

/* nav ended */
/* banner section started */
.banner-container:hover{
    border: 2px solid rgb(3, 125, 255);
}
.banner-container{
    max-width: 1350px;
    min-height: 500px;
    background-image: url('../batch-hero-travel/B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png') ;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(45deg rgb(41, 40, 40));
    border-radius: 20px;
    margin: 0 auto;
    align-items: center;
}
.banner-text{
   /* display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;*/
   padding-top: 50px;

}
.banner-text h1{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
color: white;
}
.banner-text p{
text-align: center;
color: white;
}

.banner-input{
    /* min-height: 90px; */
    background-color:#e6e9eb7e ;
    border-radius: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    gap: 20px;
}
.where-go input{
    width: 190px;
    height: 45px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem; }
.when input{
    width: 190px;
    height: 45px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
}
.select input{
    width: 190px;
    height: 45px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
}
.find input{
    width: 190px;
    height: 45px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    color: white;
    background-color: orangered;
    
}
/* banner section ended */

/* Tour section starts */
.our-popular-tours{
    max-width: 1350px;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    /* padding: 20px; */
gap: 20px;
}
.tours-text{
    padding: 20px;
}
.tours-text:hover{
    border: 3px solid rgb(3, 125, 255);
}

.tours-text p{
    margin-bottom: 40px;
color: rgb(73, 73, 73);
}
.tours-text h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;   
}
.tour-images{
    width: 100%;
}
.tour-images:hover{
    border: 3px solid rgb(3, 125, 255);
    border-radius: 15px;
}
.btn-primary{
    width: 190px;
    height: 55px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    color: white;
    background-color: orangered;
}
.btn-primary:hover{
    border: 3px solid rgb(3, 125, 255);
}
/* tour section ended */

/* destination section starts */
.destination-section{
    max-width: 1350px;
    border: 2px solid red;
}
.destination-text{
    text-align: center; 
    margin-bottom: 60px;  
}
.destination-text h2{
    font-size: 60px;
    font-weight: 900;
}
.destination-text p{
    text-align: center;
    color: rgb(61, 59, 59);
}

.container {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-two {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .centered-text-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-three {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .centered-text-three {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-four {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .centered-text-four {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-five {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .centered-text-five {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-six {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .centered-text-six {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-sev {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .centered-text-sev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.destination-pictures{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
.container{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.container-two{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
.container-three{ 
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
.container-four{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}
.container-five{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}
.container-six{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}
.container-sev{
    grid-column: 6/span 6;
    grid-row: 3/span 1;
}





























