/* shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Merriweather:ital,wght@1,700&family=Open+Sans:wght@800&family=Poppins:wght@100;400;500;600&family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');

body{
   font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: auto;
}
header{
    max-width: 1600px;
}

/* Nav styles */
.navbar{
/* max-width: 1250px; */
/* border: 2px solid blue; */
margin: 0 auto;
display: flex;
}
.nav-container{
    min-height: 20px;
    display: flex;
gap: 20px;
align-items: center;
/* width: 50%; */
}
.nav-container img{
    width: 90px;
    object-fit: cover;
}
.nav-items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
}
.nav-items-container a{
    text-decoration: none;
font-size: 1rem;
color: black;
font-weight: 400;
margin-right: 2rem;
}

/* nav ended */
/* banner section started */
.banner-container:hover{
    border: 2px solid rgb(3, 125, 255);
}
.banner-container{
    max-width: 1350px;
    min-height: 500px;
    background-image: url('../batch-hero-travel/B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png') ;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(45deg rgb(41, 40, 40));
    border-radius: 20px;
    margin: 0 auto;
    align-items: center;
}
.banner-text{
   /* display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;*/
   padding-top: 50px;

}
.banner-text h1{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
color: white;
}
.banner-text p{
text-align: center;
color: white;
}

.banner-input{
    /* min-height: 90px; */
    background-color:#e6e9eb7e ;
    border-radius: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    gap: 20px;
}
.where-go input{
    width: 190px;
    height: 45px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem; }
.when input{
    width: 190px;
    height: 45px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
}
.select input{
    width: 190px;
    height: 45px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
}
.find input{
    width: 190px;
    height: 45px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    color: white;
    background-color: orangered;
    
}
/* banner section ended */

/* Tour section starts */
.our-popular-tours{
    max-width: 1350px;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    /* padding: 20px; */
gap: 20px;
}
.tours-text{
    padding: 20px;
}
.tours-text:hover{
    border: 3px solid rgb(3, 125, 255);
}

.tours-text p{
    margin-bottom: 40px;
color: rgb(73, 73, 73);
}
.tours-text h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;   
}
.tour-images{
    width: 100%;
}
.tour-images:hover{
    border: 3px solid rgb(3, 125, 255);
    border-radius: 15px;
}
.btn-primary{
    width: 190px;
    height: 55px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    color: white;
    background-color: orangered;
}
.btn-primary:hover{
    border: 3px solid rgb(3, 125, 255);
}
/* tour section ended */

/* destination section starts */
.destination-section{
    max-width: 1350px;
}
.destination-text{
    text-align: center; 
    margin-bottom: 60px; 
    margin-left: 200px;
    margin-right: 200px; 
}
.destination-text h2{
    font-size: 50px;
    padding: 0 0 30px 0;
    font-weight: 900;
}
.destination-text p{
    text-align: center;
    color: rgb(61, 59, 59);
}

.container {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-two {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .centered-text-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-three {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .centered-text-three {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-four {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .centered-text-four {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-five {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .centered-text-five {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-six {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .centered-text-six {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.container-sev {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .centered-text-sev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; 
    font-weight: 900;
  }
.destination-pictures{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
.container{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.container-two{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
.container-three{ 
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
.container-four{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}
.container-five{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}
.container-six{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}
.container-sev{
    grid-column: 6/span 6;
    grid-row: 3/span 1;
}
/* choose section */
.choose-section{
  max-width: 1350px;
}

.choose-text{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 200px 0 200px;
}
.choose-header{
  font-size: 50px;
  padding: 0 0 30px 0;
  font-weight: 800;
  text-align: center;
}
.choose-p{
  width: 600px;
  font-size: 1rem;
  color: rgb(50, 50, 50);
  /* border: 2px solid rgb(18, 17, 17); */
  /* padding: 20px 400px 0 400px; */
}
.choose-card-container{
display: grid;
grid-template-columns: repeat(12,1fr);
gap: 20px;
}
.cards-one{
 grid-column: 1/span 6; 
 grid-row: 1/span 1;
padding: 30px;
background-color: rgba(246, 239, 228, 0.195);
border: 1px solid rgb(246, 204, 152);
border-radius: 10px;
}
.cards-two{
  grid-column: 7/span 6; 
 grid-row: 1/span 1;
padding: 30px;
background-color: rgba(207, 234, 237, 0.137);
border: 1px solid rgb(152, 234, 246);
border-radius: 10px;
}
.cards-three{
  grid-column: 4/span 6; 
 grid-row: 2/span 1;
padding: 30px;
background-color: rgba(228, 210, 224, 0.152);
border: 1px solid pink;
border-radius: 10px;
}
.cards-title{
padding: 20px 0 ;
font-size: 30px;
font-weight: 600;
}
.choose-img{
  margin-right: 550px;
align-items: start;
justify-content: start;
}
/* choose section  ends*/
/* deals discount section starts */
.deals-discount{
  max-width: 1350px;
}

.deals-header{
  font-size: 50px;
  padding: 0 0 30px 0;
  font-weight: 800;
  text-align: center;
}
.deals-text{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 200px 0 200px;
}
/* first banner section */
.first-banner{
  max-width: 1350px;
  position: relative;
}
.iconss{
  display: flex;
  gap: 15 px;
}
.first-banner-box{
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.773);
  padding: 20px ;
  position: relative;
  bottom: 410px;
  left: 250px;
}
.second-banner-box{
  width: 500px;
  height: 300px; 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.773);
  padding: 20px ;
  position: relative;
  bottom: 410px;
  right: 250px;
}
/* simple section */
.simple-section{
  max-width: 1350px;
  margin-bottom: 70px;
}
.simple-section-container{
  display: flex;
  gap: 20px;
}
.simple-section-text{
  width: 50%;
  padding: 20px;
}
.simple-section-text h1{
font-size: 50px;
font-weight: 600px;
margin-bottom: 20px;
}
.simple-section-text p{
  font-size: 16px;
  margin-bottom: 20px; 
}
.simple-section-text li{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.simple-section-text ul{
  margin-bottom: 20px;
}
/* newsletter-section */
.news{
  max-width: 1350px;
  margin-bottom: 70px;
}
.newsletter-section{
display: flex;
gap: 20px;
}
.news-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid tomato;
  border-radius: 5%;
  text-align: left;
  justify-content: left;
  align-items: left;
}
.email input{
  width: 400px;
    height: 35px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(241, 239, 239);
}
.btn-primary-sub{
  width: 420px;
    height: 55px;
    border-radius: 9px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(254, 74, 42);
}
.news-img{
  width: 100%;
  position: relative;
}
.travel{
  width: 200px; ;
  height: 69px;
  border: none;
  background-color: rgb(254, 74, 42);
  border-radius: 10px;
  text-align: center;
  color: white;
  position: absolute; 
bottom: 30%;
left: 50%;
}
/*news ended */
/* footer started */
footer{
  background-color: rgb(219, 214, 214);
  min-height: 400px;
}
.foot{
text-align: center;
padding: 70px;
}
.foot-icon{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  padding-right:30px ;
}
/* the end */





























